body {
    background-color: black;
    background-image: url('./images/spaceBackground.png');
    background-size: 288px 162px;
    background-attachment: fixed;
}

.planet1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #eeeeee;
    background: linear-gradient(to top left, #375d96, #86792b);
}

.planet1 p {
    text-align: center;
    padding: 40px 0 20px 0;
}

.planet2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #eeeeee;
    float: right;

    background: linear-gradient(to top left, #2e8bf5, #0950a1);

}

.box-1 {
    background-color: #1d203b; 

    color: #ffffff;
    
    
    width: 350px;
    height: 250px;
    border: 2px rgb(216, 216, 216) solid;
    border-radius: 15%;
    
    font-family: Tahoma;
    font-weight: 300;
    font-size: 14;
    padding: 20px ;
    
    margin: auto;
    text-align: center;
}

.box-1 h1 {
    font-family: Tahoma;
    font-weight: 1000;
    font-size: 70;
    text-transform: uppercase;
    padding-bottom: 20px;
}


.categories {
    width: 80%;
    margin: auto;
}



.categories h2 {
    background-color: #1d203b;
    color: rgb(216, 216, 216);

    font-family: Tahoma;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(216, 216, 216);
    width: 200px;
    border-radius: 45px;
}

.categories ul{
    padding: 0px;
    list-style: none;
}

.categories li {
    padding: 6px 0 6px 0;
    border-bottom: dotted 1px #333333;

    background-color: #1d203b;


    float: left;
    box-sizing: border-box;
    border-radius: 25px;

    width: 33.3%;
    border: 2px solid rgb(216, 216, 216);
    padding: 10px;

    text-align: center;
    
}

a {
    text-decoration: none;
    color: rgb(216, 216, 216);
}

a:hover {
    color: rgb(151, 54, 54);
}

a:active {
    color: green;
}


.block {
    float: left;
    width: 33.3%;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box;
}
